/*
 * Components
 *
 * Include all your design elements in this file.
 * forms/buttons and non-general html elements
 * these defaults come from the Bartik theme and are being transitioned from CSS into SASS variables
 * Big thanks to Jen Simmons for these defaults https://www.drupal.org/u/jensimmons
 */
@charset "utf-8";

/* Base responsive images */
img {
  height: auto;
  max-width: 100%;
  outline: 0;
}

a.logo img {
  height: auto;
  max-width: 125px;
}

/* ---------------- Buttons    ---------------- */
[dir="rtl"] input.form-submit,
[dir="rtl"] a.button {
  margin-right: 0;
  margin-left: 0.6em;
}

/* -------------- Form Elements   ------------- */
fieldset {
  margin-top: 10px;
  margin-bottom: 32px;
  padding: 0 0 10px;
  position: relative;
  top: 12px;

  /* Offsets the negative margin of legends */
  -moz-border-radius: 4px;
  border-radius: 4px;
}

.button.small.radius {
  margin-right: 10px;
}

.comment .comment-arrow {
  border-left: 0px solid;
}

.block-search-form .block-title {
  display: none;
}

input.form-search {
  width: 125px;
  float: left;
}

#edit-delete,
#edit-cancel {
  margin-left: 10px;
}

.form-file {
  float: left;
  width: 200px;
  margin-top: 10px;
}

.tabs {
  border-right: 0px solid;
  border-left: 0px solid;
}

.tabs,
.tabs-content {
  border-top: 0px;
}
